<footer class="bg-Black">
  <figure class="w-52 mx-auto">
    <img src="../../assets/shared/desktop/logo-light.png" alt="Designo Logo">
  </figure>

  <div class="opacity-25 my-8 w-full h-[1px] bg-White inline-block"></div>

  <nav>
    <ul class="uppercase flex flex-col gap-8 justify-center items-center text-White">
      <li><a href="#">our company</a></li>
      <li><a href="#">locations</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>

  <article class="text-center text-White opacity-50 my-10 leading-7">
    <span class="font-bold">Designo Central Office</span>
    <br>3886 Wellington Street<br>
    Toronto, Ontario M9C 3J5
  </article>

  <article class="text-center text-White opacity-50 leading-7">
    <span class="font-bold">Contact Us (Central Office)</span>
    <br>P : +1 253-863-8967 <br>
    M : contact&#64;designo.co
  </article>

  <article class="mt-10 flex justify-center items-center gap-4">
    <a href="#">
      <img src="../../assets/shared/desktop/icon-facebook.svg" alt="Facebook Icon SVG">
    </a>
    <a href="#">
      <img src="../../assets/shared/desktop/icon-youtube.svg" alt="Youtube Icon SVG">
    </a>
    <a href="#">
      <img src="../../assets/shared/desktop/icon-twitter.svg" alt="Twitter Icon SVG">
    </a>
    <a href="#">
      <img src="../../assets/shared/desktop/icon-pinterest.svg" alt="Pinterest Icon SVG">
    </a>
    <a href="#">
      <img src="../../assets/shared/desktop/icon-instagram.svg" alt="Instagram Icon SVG">
    </a>
  </article>
</footer>