<div class="locations-destination">
  <article>
    <figure>
      <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background">
      <img src="../../assets/shared/desktop/illustration-canada.svg" alt="Canada SVG">
    </figure>
    <h3>Canada</h3>
    <a class="button light">see location</a>
  </article>

  <article>
    <figure>
      <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background" class="-rotate-90">
      <img src="../../assets/shared/desktop/illustration-australia.svg" alt="Australia SVG">
    </figure>
    <h3>Australia</h3>
    <a class="button light">see location</a>
  </article>

  <article>
    <figure>
      <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background" class="-rotate-180">
      <img src="../../assets/shared/desktop/illustration-united-kingdom.svg" alt="United-kingdom SVG">
    </figure>
    <h3>United kingdom</h3>
    <a class="button light">see location</a>
  </article>
</div>