<main>
  <section class="hero">
    <h1>App Design</h1>
    <p class="description">Our mobile designs bring intuitive digital solutions
      to your customers right at their fingertips.</p>
  </section>

  <section class="projects">
    <article>
      <img src="../../assets/app-design/desktop/image-airfilter.jpg" alt="AirFilter Image App Design">
      <div>
        <h3>airfilter</h3>
        <p>Solving the problem of poor indoor air quality by filtering the air</p>
      </div>
    </article>

    <article>
      <img src="../../assets/app-design/desktop/image-eyecam.jpg" alt="Eyecam Image App Design">
      <div>
        <h3>Eyecam</h3>
        <p>Product that lets you edit your favorite photos and videos at any time</p>
      </div>
    </article>

    <article>
      <img src="../../assets/app-design/desktop/image-faceit.jpg" alt="Faceit Image App Design">
      <div>
        <h3>faceit</h3>
        <p>Get to meet your favorite internet superstar with the faceit app</p>
      </div>
    </article>

    <article>
      <img src="../../assets/app-design/desktop/image-todo.jpg" alt="Todo Image App Design">
      <div>
        <h3>todo</h3>
        <p>A todo app that features cloud sync with
          light and dark mode</p>
      </div>
    </article>

    <article>
      <img src="../../assets/app-design/desktop/image-loopstudios.jpg" alt="Loopstudios Image App Design">
      <div>
        <h3>Loopstudios</h3>
        <p>A VR experience app made for Loopstudios</p>
      </div>
    </article>
  </section>

  <project-destinations HiddenProject="app"></project-destinations>

  <app-get-in-touch></app-get-in-touch>
</main>