<main>
  <section class="about-us-hero">
    <img src="../../assets/about/mobile/image-about-hero.jpg" alt="Hero Image People Together">
    <article class="about">
      <h1 class="mb-6">about us</h1>
      <p class="hero-description">Founded in 2010, we are a creative agency that produces lasting results for our
        clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real
        impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our
        clients’ audiences.</p>
    </article>
    <img src="../../assets/about/mobile/image-world-class-talent.jpg" alt="">
    <article class="talent">
      <h2 class="mb-6">about us</h2>
      <p class="hero-description">Founded in 2010, we are a creative agency that produces lasting results for our
        clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real
        impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our
        clients’ audiences.</p>
      <img src="../../assets/about/desktop/bg-pattern-hero-about-desktop.svg" alt="1 Bubble">
      <img src="../../assets/about/mobile/bg-pattern-hero-about.svg" alt="2 Bubble">
    </article>
  </section>
</main>