<main class="pb-[120px]">
  <section class="contact">
    <h1>Contact Us</h1>
    <p>Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your
      business grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a line.
    </p>

    <div class="contact-form">
      <div class="input-field">
        <input class="input" type="text" placeholder="Name">
        <span class="error hide">Can´t be Empty <span class="error-svg"></span></span>
      </div>
      <div class="input-field">
        <input class="input" type="email" placeholder="Email Address">
        <span class="error hide">Can´t be Empty <span class="error-svg"></span></span>
      </div>
      <div class="input-field">
        <input class="input" type="text" placeholder="Phone">
        <span class="error hide">Can´t be Empty <span class="error-svg"></span></span>
      </div>
      <div class="input-field">
        <textarea class="input" placeholder="Your Message">
        </textarea>
        <span class="error hide">Can´t be Empty <span class="error-svg"></span></span>
      </div>
    </div>
  </section>

  <app-locations-destination></app-locations-destination>
</main>