<section class="pb-0 relative text-White max-w-full">
  <div class="bg-Black absolute inset-0 top-[70%] z-0"></div>
  <article class="get-in-touch relative z-10 max-w-screen-lg mx-auto">
    <div class="lg:max-w-[400px]">
      <h2>Let's talk about your project</h2>
      <p class="my-8">Ready to take it to the next level? Contact us today and find out how our expertise can help your
        business grow.
      </p>
    </div>
    <div class="relative z-10">
      <a class="button dark" routerLink="/contact">Get in Touch</a>
    </div>
  </article>
</section>