<header
  class=" z-[10000] sticky top-0 bg-White flex items-center justify-between gap-5 max-w-screen-lg mx-auto lg:px-0">
  <figure (click)="CloseNavBar()" routerLink="/" class="w-52 cursor-pointer">
    <img src="../../assets/shared/desktop/logo-dark.png" alt="Designo Logo">
  </figure>

  <button type="button" id="nav-button" class="close md:hidden" (click)="NavButtonClick()">
  </button>

  <nav class="hidden md:block">
    <ul class="uppercase flex justify-start gap-11 text-Black-Grey text-sm">
      <li><a routerLink="/about-us">our company</a></li>
      <li><a href="#">locations</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>

</header>

<div id="nav-open-bg"></div>

<nav id="mobile-nav-bar" class="close md:hidden">
  <ul class="uppercase flex flex-col justify-start gap-8">
    <li><a (click)="CloseNavBar()" routerLink="/about-us">our company</a></li>
    <li><a (click)="CloseNavBar()" href="#">locations</a></li>
    <li><a (click)="CloseNavBar()" href="#">contact</a></li>
  </ul>
</nav>