<main>
  <section class="hero">
    <h1>Web Design</h1>
    <p class="description">We build websites that serve as powerful marketing tools and bring memorable brand
      experiences.</p>
  </section>

  <section class="projects">
    <article>
      <img src="../../assets/web-design/desktop/image-express.jpg" alt="Express Image Web Design">
      <div>
        <h3>Express</h3>
        <p>A multi-carrier shipping website for ecommerce businesses</p>
      </div>
    </article>

    <article>
      <img src="../../assets/web-design/desktop/image-transfer.jpg" alt="Transfer Image Web Design">
      <div>
        <h3>Transfer</h3>
        <p>Site for low-cost money transfers and sending money within seconds</p>
      </div>
    </article>

    <article>
      <img src="../../assets/web-design/desktop/image-photon.jpg" alt="Photon Image Web Design">
      <div>
        <h3>Photon</h3>
        <p>A state-of-the-art music player with high-resolution audio and DSP effects</p>
      </div>
    </article>

    <article>
      <img src="../../assets/web-design/desktop/image-builder.jpg" alt="Builder Image Web Design">
      <div>
        <h3>builder</h3>
        <p>Connects users with local contractors based on their location</p>
      </div>
    </article>

    <article>
      <img src="../../assets/web-design/desktop/image-blogr.jpg" alt="Blogr Image Web Design">
      <div>
        <h3>blogr</h3>
        <p>Blogr is a platform for creating an online blog or publication</p>
      </div>
    </article>

    <article>
      <img src="../../assets/web-design/desktop/image-camp.jpg" alt="Camp Image Web Design">
      <div>
        <h3>Camp</h3>
        <p>Get expert training in coding, data, design, and digital marketing</p>
      </div>
    </article>
  </section>

  <project-destinations HiddenProject="web"></project-destinations>

  <app-get-in-touch></app-get-in-touch>
</main>