/* npx tailwindcss -i ./src/input.css -o ./src/styles.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Jost", sans-serif;
  }

  h1,
  h2 {
    @apply text-center text-[32px] md:text-[40px] leading-[36px] md:leading-[48px] font-medium uppercase;
  }
  p.hero-description {
    @apply text-center text-[15px] md:text-[16px] leading-[25px] md:leading-[26px];
  }
  h3 {
    @apply text-[20px] leading-[26px] tracking-[5px] font-medium uppercase;
  }

  header,
  footer {
    @apply py-9 px-6 lg:py-16 lg:px-40;
  }
  section {
    /* @apply py-10 px-6 lg:pt-16 lg:px-44; */
    @apply max-w-screen-lg px-6 lg:px-0 lg:mx-auto py-10 lg:pt-16;
  }

  footer {
    @apply z-20 relative;
  }

  .description {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

@layer components {
  #mobile-nav-bar {
    padding: 2.2rem 1.5rem;
    transform-origin: top;
    @apply bg-Black text-white w-full fixed scale-y-100 transition-all duration-100 z-40;
    &.close {
      @apply scale-y-0;
    }
    & li a {
      font-size: 1.5rem;
      line-height: 1.563rem;
      letter-spacing: 2px;
    }
  }
  #nav-button {
    width: 24px;
    height: 20px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s;
    &.close {
      background-image: url(./assets/shared/mobile/icon-hamburger.svg);
    }
    &.open {
      background-image: url(./assets/shared/mobile/icon-close.svg);
    }
  }

  #nav-open-bg {
    @apply fixed inset-0 pointer-events-none z-40 opacity-75;
    &.open {
      @apply bg-black;
    }
  }

  nav ul li a {
    font-size: 14px;
    letter-spacing: 2px;
    &:hover {
      @apply underline;
    }
  }
  a.button {
    letter-spacing: 1px;
    @apply p-4 rounded-lg font-medium inline-block transition-colors duration-150 cursor-pointer;
    &.dark {
      @apply bg-white text-black;
    }
    &.light {
      @apply bg-Peach text-white;
    }
    &:hover {
      @apply bg-Light-Peach text-white;
    }
  }

  .hero {
    background-image: url(./assets/web-design/desktop/bg-pattern-intro-web.svg);
    background-position: right -20px top -10px;
    background-repeat: no-repeat;

    @apply bg-Peach text-white text-center py-24 md:mx-8 md:rounded-xl lg:mx-auto;
    & h1 {
      @apply text-[32px] md:text-[48px] leading-[36px] md:leading-[48px] font-medium mb-6;
    }
    & p {
      @apply text-[15px] md:text-[16px] leading-[25px] md:leading-[26px] md:max-w-[55%] mx-auto;
    }
  }

  .projects-destinations {
    @apply grid gap-6 lg:grid-cols-2;

    & article {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @apply relative flex flex-col gap-3 justify-center items-center py-[90px] rounded-xl text-White cursor-pointer;

      &.web {
        @apply bg-[url(./assets/home/mobile/image-web-design.jpg)]
         md:bg-[url(./assets/home/tablet/web-design.jpg)]
         lg:bg-[url(./assets/home/desktop/image-web.jpg)];
      }
      &.app {
        @apply bg-[url(./assets/home/mobile/image-app-design.jpg)]
         md:bg-[url(./assets/home/tablet/app-design.jpg)]
         lg:bg-[url(./assets/home/desktop/image-app.jpg)];
      }
      &.graphic {
        @apply bg-[url(./assets/home/mobile/image-graphic-design.jpg)]
        md:bg-[url(./assets/home/tablet/graphic-design.jpg)]
         lg:bg-[url(./assets/home/desktop/image-graphic.jpg)];
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        @apply rounded-xl transition-colors duration-300;
      }

      &:hover::after {
        @apply bg-Peach bg-opacity-60;
      }

      & h2 {
        @apply relative z-10 text-[28px] md:text-[40px] leading-[36px] md:leading-[48px] tracking-[1.4px] md:tracking-[2px] font-medium uppercase;
      }
      & a {
        @apply cursor-pointer relative z-10 text-[15px] leading-normal tracking-[5px] uppercase flex justify-between items-center gap-4;
        & span {
          background: transparent
            url(./assets/shared/desktop/icon-right-arrow.svg) no-repeat center
            center;
          @apply relative z-10 inline-block w-4 aspect-square;
        }
      }
    }
  }

  .projects {
    @apply pt-24 grid gap-10 lg:grid-cols-3;
    & article {
      @apply grid md:grid-cols-2 lg:grid-cols-1;
      & img {
        @apply rounded-t-xl md:rounded-t-none md:rounded-l-xl lg:rounded-l-none lg:rounded-t-xl w-full h-full;
      }
      & div {
        @apply bg-[#FDF3F0] text-center p-8 flex flex-col justify-center items-center rounded-b-xl md:rounded-b-none md:rounded-r-xl lg:rounded-r-none lg:rounded-b-xl transition-colors duration-300;
        & h3 {
          @apply text-Peach text-[20px] leading-[26px] font-medium tracking-[5px] uppercase;
        }
        & p {
          @apply text-Black text-[16px] lg:text-[15px] leading-[26px] block max-w-[277px];
        }
        &:hover {
          @apply bg-Peach;
          & h3,
          p {
            @apply text-white;
          }
        }
      }
    }
  }

  .illustrations {
    @apply flex flex-col gap-8 md:flex-row lg:flex-col text-center md:text-start lg:text-center;

    & figure {
      min-width: 202px;
      aspect-ratio: 1/1;
      @apply relative mx-auto;

      & img {
        @apply absolute inset-0;
      }
    }
    & h3 {
      font-size: 20px;
      letter-spacing: 5px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
  .get-in-touch {
    @apply bg-Peach rounded-lg p-12 md:py-20 lg:py-12 text-center lg:text-start md:text-balance relative flex flex-col justify-center items-center lg:flex-row lg:justify-between;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent
        url(./assets/shared/desktop/bg-pattern-call-to-action.svg) no-repeat
        center center;
    }
    & h2 {
      @apply font-medium text-[32px] lg:text-[40px] leading-[36px] lg:leading-[40px];
    }
  }
  @media (min-width: 768px) {
    .hero {
      background-position: right -150px top -150px;
    }
  }

  .about-us-hero {
    @apply p-0 text-white grid md:gap-[120px] md:mx-6 lg:mx-auto;
    & img {
      @apply w-full lg:max-w-[476px] md:rounded-t-xl lg:rounded-l-none lg:rounded-r-xl;
    }
    & .exeption {
      @apply lg:rounded-l-xl lg:rounded-r-none;
    }
    & .info {
      @apply flex flex-col lg:flex-row-reverse;
      &:nth-of-type(2) {
        @apply lg:flex-row;
      }
      & article {
        @apply py-20 px-8 md:rounded-b-xl lg:rounded-r-none lg:rounded-l-xl;
        &.about {
          background-repeat: no-repeat;
          background-position: right top -150px;
          @apply bg-Peach bg-[url(./assets/about/mobile/bg-pattern-hero-about.svg)];
        }
        &.talent {
          @apply bg-[#FDF3F0] relative overflow-hidden;
          &:first-of-type {
            @apply lg:rounded-r-xl lg:rounded-l-none;
            &.exeption {
              @apply lg:rounded-l-xl lg:rounded-r-none;
            }
          }
          & h2 {
            @apply text-Peach;
          }
          & p {
            @apply text-Black;
          }
          & img {
            position: absolute;
            opacity: 40%;
            &:first-of-type {
              top: 0;
              left: 0;
              width: 60%;
            }
            &:last-of-type {
              top: 90%;
              scale: 1.6;
              right: 0;
            }
          }
        }
      }
    }
  }
  .locations-destination {
    @apply grid lg:grid-cols-3 gap-12 text-center text-Black;
    & figure {
      width: 202px;
      aspect-ratio: 1/1;
      @apply relative mx-auto;
      & img {
        @apply absolute inset-0 w-full h-full;
      }
    }
    & h3 {
      @apply mb-8 mt-12;
    }
  }

  .map-container {
    @apply px-0 md:px-6 lg:px-0 grid gap-10 md:gap-[120px] relative z-0;

    .location-info {
      @apply flex flex-col md:gap-8;
      &:not(:has(#map-2)) {
        @apply lg:flex-row;
      }
      &:has(#map-2) {
        @apply lg:flex-row-reverse;
      }
    }
  }
  .map {
    @apply h-80 md:rounded-xl lg:w-[320px] lg:aspect-square;
  }
  .content {
    @apply bg-[#FDF3F0] py-20 px-10  text-center lg:text-start grid gap-6 relative overflow-hidden md:rounded-xl flex-grow;
    & img {
      @apply absolute w-[120%] md:bottom-0;
    }
    & h2 {
      @apply text-Peach capitalize lg:text-start;
    }
    & div {
      & p {
        @apply text-[15px] leading-[25px];
        &:first-child {
          @apply font-bold;
        }
      }
    }
  }

  .contact {
    @apply mb-[120px] bg-Peach text-White;
    & p {
      @apply text-center mt-6;
    }
    .contact-form {
      .input-field {
        @apply relative;
        .input {
          @apply w-full bg-transparent border border-t-0 border-l-0 border-r-0 border-b-[#979797] p-3 outline-none;
          &::placeholder {
            @apply text-[#999999];
          }
          &:focus {
            @apply border-White;
            &::placeholder {
              @apply text-White;
            }
          }
        }
        .error {
          @apply absolute right-0 top-1/2 -translate-y-1/2 justify-center items-center gap-2 pointer-events-none;
          &.hide {
            @apply hidden;
          }
          &.show {
            @apply flex;
          }
          .error-svg {
            background: transparent url(./assets/contact/desktop/icon-error.svg)
              no-repeat center center;
            @apply w-6 aspect-square;
          }
        }
      }
    }
  }
}
