<main>
  <section class="bg-Peach text-center text-White overflow-hidden relative pb-20 md:mx-6 md:px-16 text-balance md:rounded-xl">
    <h1 class="relative z-10">Award-winning custom designs and digital branding solutions</h1>
    <p class="relative z-10 description my-6">With over 10 years in the industry, we are experienced in creating fully responsive
      websites,
      app design, and engaging brand experiences. Find out more about our services.</p>

    <a class="button mb-[250px] md:mb-[350px] relative z-10">Learn More</a>

    <img src="../../assets/home/desktop/image-hero-phone.png" alt="Phone Image"
      class="border-red-200 absolute z-10 bottom-[-220px] md:bottom-[-400px] left-1/2 -translate-x-1/2">

    <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="Pattern Background Circle"
      class="absolute left-0 md:left-52 z-0 top-28 max-w-screen-sm">
  </section>

  <section class="pt-[120px]">
    <article class="grid gap-6">
      <div class="home-projects">
        <h3>web design</h3>
        <a href="#">view projects</a>
      </div>
      <div class="home-projects">
        <h3>app design</h3>
        <a href="#">view projects</a>
      </div>
      <div class="home-projects">
        <h3>graphic design</h3>
        <a href="#">view projects</a>
      </div>
    </article>
  </section>

  <section>
    <div class="grid gap-20 text-Black-Grey">

      <article class="illustrations text-center">
        <figure class="relative">
          <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background" class="-rotate-90">
          <img src="../../assets/home/desktop/illustration-passionate.svg" alt="illustration passionate">
        </figure>
        <h3 class="my-8">passionate</h3>
        <p class="description text-center">Each project starts with an in-depth brand research to ensure we only create
          products
          that serve a purpose. We merge art, design, and technology into exciting new solutions.</p>
      </article>

      <article class="illustrations text-center">
        <figure class="relative">
          <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background" class="-rotate-180">
          <img src="../../assets/home/desktop/illustration-resourceful.svg" alt="illustration resourceful">
        </figure>
        <h3 class="my-8">resourceful</h3>
        <p class="description text-center">Everything that we do has a strategic purpose. We use an agile approach in
          all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’
          needs.</p>
      </article>

      <article class="illustrations text-center">
        <figure class="relative">
          <img src="../../assets/home/desktop/bg-pattern-hero-home.svg" alt="pattern background">
          <img src="../../assets/home/desktop/illustration-friendly.svg" alt="illustration friendly">
        </figure>
        <h3 class="my-8">friendly</h3>
        <p class="description text-center"> We are a group of enthusiastic folks who know how to put people first. Our
          success depends on our customers, and we strive to give them the best experience a company can provide.</p>
      </article>

    </div>
  </section>

  <app-get-in-touch></app-get-in-touch>
</main>